
.dark {
    background-color: rgb(0, 7, 16);
}
p {
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    line-height: 1.5;
}
.row {
    display: flex;
}

.column {
    flex: 50%;
    justify-content: center;
}
.profilePic {
    padding-left: 20px;
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin: 20px;
    transform: translate(100px);
}
.aboutText {
    text-align: left;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    line-height: 1.5;
}
