<div class = "dark">
    <div  class="row">
        <div class="column">
            <h1 class = "aboutText" id="About">About Me</h1>
            <p>Hello! I’m Nathan, a current computer science major at the University of Texas at Tyler. 
                I first gained an interest in programming when I joined my robotics team in high school.
                 I then went on to join the computer science team inspiring me to choose comp sci as my major in college. 
                 Now I am busy going to college and working at my tech help desk job.
                  I hope to learn more about programming and the creation of websites in particular.
                   In my freetime I enjoy hanging out with friends, playing chess, 3D printing, and creating 3D maps.
            </p>
        </div>
        <div class="column">
            <img src="assets/picture/ProfilePic.jpg" alt="Profile Picture" class="profilePic">
        </div>
    </div>
</div>